@import "/src/styles/variables";
@import "/src/styles/mixins";

.header_container {
    width: 100%;
    height: 64px;
    background-color: #334155;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    .header_content {
        width: 100%;
        height: 100%;
        max-width: 1536px;
        margin: 0 auto;
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        @include query(768px) {
            padding: 0 40px;
        }

        @include query(1024px) {
            padding: 0 80px;
        }




        .search_container {
            display: flex;
            align-items: center;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            background-color: #9ca3af;
            padding: 5px 10px;
            border-radius: 7px;

            input {
                background-color: transparent;
                border: none !important;
                outline: none !important;
                transition: all ease-in-out .4s;
                width: 150px;
                font-size: 16px;
                padding: 5px;

                @include query(768px) {
                    width: 190px;
                }
            }

            .search_icon_container {
                background: transparent;
                border: none;
                
            }
            .search_icon {
                color: black;
                cursor: pointer;
                font-size: 22px;
                transition: all 0.3s ease;

                &:hover {
                    scale: (1.1);
                }
            }

            .close_icon {
                cursor: pointer;
                font-size: 17px;
                color: rgb(199, 0, 0);

                &:hover {
                    scale: (1.1);
                }
            }
        }


    }


}